::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 50px !important;
}

::-webkit-scrollbar-track {
    background: $gray-300;
}

::-webkit-scrollbar-thumb {
    background: $primary;
}

::-webkit-scrollbar-thumb:hover {
    background: $gray-300;
}

.swal2-header {
    .swal2-title {
        font-size: $font-size-18;
    }
}

.text-red {
    color: $danger !important;
}

.text-green {
    color: $success !important;
}

.input-blocks {
    input[type=text] {
        &:focus {
            border-color: $input-border;
        }
    }
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 50px !important;
}

::-webkit-scrollbar-track {
    background: $gray-300;
}

::-webkit-scrollbar-thumb {
    background: $primary;
}

::-webkit-scrollbar-thumb:hover {
    background: $gray-300;
}

.swal2-header {
    .swal2-title {
        font-size: $font-size-18;
    }
}

.text-red {
    color: $danger !important;
}

.text-green {
    color: $success !important;
}

.input-blocks {
    input[type=text] {
        &:focus {
            border-color: $input-border;
        }
    }
}

.table-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    gap: 10px;

    @include respond-below(custom575) {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;

        .wordset {
            margin-top: 25px;
        }
    }
}

.search-set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;

    .search-input {
        position: relative;
        margin-right: 15px;

        input {
            height: 38px;
            border: 1px solid var(--Stroke, rgba(145, 158, 171, 0.30));
            background: var(--White, #FFF);
            width: 298px;
            @include rounded(8px);
            padding: 10px;

            &::placeholder {
                color: $black;
            }

            @include respond-below(custom1199) {
                width: 220px;
            }

            @include respond-below(custom991) {
                width: 200px;
            }

            @include respond-below(custom575) {
                width: auto;
            }
        }

        .btn-searchset {
            @include margin-padding(null, null);
            @include rounded(50px);
            @include position(absolute, 2px, 0, null, null);
            border: 0;
        }
    }
}

.search-path {
    @include respond-below(custom575) {
        margin-right: 0;
        margin-left: 0;
    }

    @include respond-below(custom575) {
        margin-top: 24px;
    }

    .info-img {
        width: 16px;
        height: 16px;
        color: $white;
    }

    .btn-filter {
        background: $primary;
        color: white !important;
        width: 36px;
        height: 36px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        justify-content: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        padding: 0;
        margin-right: 15px;

        span {
            display: none;
        }

        &:hover {
            background: $title-color;
            color: white !important;
            border-color: $title-color;
        }

        &.setclose {
            background: $danger;

            >img {
                display: none;
            }

            span {
                display: block;

                img {
                    display: block;
                }
            }
        }

        span {
            display: none;
        }

        >img {
            display: block;
        }
    }
}

.swal2-actions {
    .swal2-confirm {
        margin-right: 10px;
        padding: 10px;
        border-radius: 5px;
    }
}

#filter_inputs,
#filter_inputs1,
#filter_inputs2,
#filter_inputs3 {
    border: 0;
    margin: 0;

    .card-body {
        padding: 0 24px 24px 24px;
    }
}

.authentication-check {
    .checkboxs {
        padding-left: 22px;

        .checkmarks {
            border-radius: 5px;
            top: 4px;
        }
    }
}

#filter_inputs,
#filter_inputs1,
#filter_inputs2 {
    display: none;
}

.select2.select2-container.select2-container--default {
    width: 100% !important;
}

[data-layout-mode=light_mode] .ant-table-cell.ant-table-cell-row-hover {
    background: #fff !important;
}

[data-layout-mode=light_mode] :where(.css-dev-only-do-not-override-19yxfbp).ant-table-wrapper .ant-table-tbody>tr>td.ant-table-cell-row-hover {
    background: #fff !important;
}
