// Base Font
$font-size-base: 14px;
$font-size-sm: $font-size-base * .875;
$font-size-lg: $font-size-base * 1.25;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-bolder: bolder;

// Font Family
$font-family-primary: 'Nunito', sans-serif;

// Theme Colors Variables
$primary: #001656;
$primary-hover: darken($primary, 10%);
$secondary: #092C4C;
$secondary-hover: darken($secondary, 10%);
$success: #28C76F;
$success-hover: darken($success, 10%);
$info: #17a2b8;
$info-hover: darken($info, 10%);
$warning: #FF9900;
$warning-hover: darken($warning, 10%);
$danger: #FF0000;
$danger-hover: darken($danger, 10%);
$dark: #29344a;
$light: #f8f9fa;
$white: #ffffff;
$black: #000000;
$purple: #7367F0;
$pink: #ff63a5;
$blue: #3577f1;
$teal: #02a8b5;
$violet: #423B93;
$cyan: #299cdb;
$green: #1dd871;
$orange: #ffa500;
$indigo: #4d5ddb;
$yellow: #ffff00;

$primary-100: #E6EAF8;
$primary-200: #CCD5F1;
$primary-300: #B3C0EA;
$primary-400: #99ABE3;
$primary-500: #7F96DC;
$primary-600: #657FC6;
$primary-700: #4C69B0;
$primary-800: #324C99;
$primary-900: #001656;

// Secondary
$secondary-100: #E6EAED;
$secondary-200: #CED5DB;
$secondary-300: #B5C0C9;
$secondary-400: #9DABB7;
$secondary-500: #8496A6;
$secondary-600: #6B8094;
$secondary-700: #536B82;
$secondary-800: #3A5670;
$secondary-900: #22415E;

// Gray
$gray-100: #f3f6f9;
$gray-200: #eff2f7;
$gray-300: #e8ebed;
$gray-400: #dbe0e6;
$gray-500: #adb5bd;
$gray-600: #67748E;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;


$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "dark": $dark,
    "light": $light,
    "black": $black,
    "purple": $purple,
    "yellow": $yellow,
    "teal": $teal
);

$text-color: #5B6670;
$title-color: #1B2850;
$sub-title: #B8BCC9;
$body-bg: #FAFBFE;
$wrapper-bg: #f1f5f6;
$text-muted: #9595b5;
$default-background: #f7f8f9;
$black-bg: #141432;
$card-dark-bg: #1d1d42;
$navy: #353570;
$theme-title: #97A2D2;
$input-bg: #2c2c50;
$form-control-bg: #ffffff;

// Border
$border-width: 1px;
$border-style: solid;
$border-color: $gray-400;
$default-border: $gray-400;
$input-border: #e9edf6;

// Border Radius
$border-radius: 4px;
$border-radius-sm: 3px;
$border-radius-lg: 5px;
$border-radius-xl: 8px;
$border-radius-xxl: 12px;
$rounded: 50%;
$rounded-pill: 1.5rem;

// Box Shadow
$box-shadow: 0px 4px 60px 0px rgba(231, 231, 231, 0.47);

// Font Size
$font-size-8: 8px;
$font-size-9: 9px;
$font-size-10: 10px;
$font-size-11: 11px;
$font-size-12: 12px;
$font-size-13: 13px;
$font-size-14: 14px;
$font-size-15: 15px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-22: 22px;
$font-size-24: 24px;
$font-size-26: 26px;
$font-size-28: 28px;
$font-size-30: 30px;
$font-size-32: 32px;
$font-size-34: 34px;
$font-size-36: 36px;
$font-size-40: 40px;
$font-size-42: 42px;
$font-size-50: 50px;
$font-size-54: 54px;
$font-size-60: 60px;
