.ant-btn {
  display: flex !important;
  gap: 8px !important;
  align-items: center !important;
  padding: 10px !important;
  height: unset !important;
}

.ant-modal-title {
  font-size: 24px !important;
}

.ant-form-item {
  margin-bottom: unset !important;
}
