.ant-btn {
  display: flex !important;
  gap: 8px !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 10px !important;
  height: unset !important;
}

.ant-modal-title {
  font-size: 24px !important;
}

.ant-form-item {
  margin-bottom: unset !important;
}

.ant-select-selector {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.delete-alert-wrapper  {
  & .ant-modal-confirm-btns {
    display: flex;
    margin-top: 2em !important;

    button {
      flex: 1;
    }

    & .ant-btn-dangerous {
      background-color: $danger !important;
      color: white !important;

      &:is(:active){
        background-color: white !important;
        border-color: $danger !important;
        color: $danger !important;
      }
    }
  }
}
