.form-control {
  border-color: $input-border;
  color: $text-color;
  background-color: $form-control-bg;
  font-size: 0.875rem;
  font-weight: $font-weight-normal;
  line-height: 1.6;
  border-radius: 0.35rem;
  padding: 0.5rem 0.85rem;

  &:focus {
    box-shadow: none;
    border-color: $input-border;
    background-color: $white;
    box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.05);
    color: $text-color;
  }
}
.form-control[type="file"] {
  padding: 0.3rem 0.5rem;
  &.form-control-sm {
    padding: 0.25rem 0.5rem !important;
  }
  &.form-control-lg {
    padding: 0.5rem 1rem !important;
  }
}
.form-label {
  font-size: $font-size-14;
  font-weight: $font-weight-semibold;
  color: $text-color;
  margin-bottom: 8px;
}

fieldset:disabled .btn {
  color: $white;
  background-color: $primary;
  border-color: $primary;
}
.form-select:focus {
  border-color: rgba(var($primary), 0.5);
  outline: 0;
  box-shadow: none;
}
.btn-check:focus + .btn,
.btn:focus {
  background-color: none;
  border-color: none;
  outline: 0;
}
.btn-check:active + .btn:focus,
.btn-check:checked + .btn:focus,
.btn.active:focus,
.btn.show:focus,
.btn:active:focus {
  box-shadow: none;
}
.form-control,
.form-select {
  &:disabled {
    background-color: $light;
    color: $text-color;
  }
}
.form-control::-webkit-file-upload-button {
  color: $text-color;
  background-color: $default-background;
}
.form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
  background-color: $default-background;
}
.form-control {
  &:focus {
    &::-webkit-input-placeholder,
    &::placeholder {
      padding-inline-start: 0.3rem;
      transition: padding-inline-start 0.1s ease-in;
    }
  }
  &::-webkit-input-placeholder {
    font-size: 0.8rem;
    font-weight: $font-weight-medium;
    opacity: 0.7;
    color: $text-color;
    padding-inline-start: 0px;
    transition: padding-inline-start 0.1s ease-in;
  }
  &:-moz-placeholder {
    font-size: 0.8rem;
    font-weight: $font-weight-medium;
    opacity: 0.4;
    color: $text-color;
  }
  &::-moz-placeholder {
    font-size: 0.8rem;
    font-weight: $font-weight-medium;
    opacity: 0.4;
    color: $text-color;
  }
  &:-ms-input-placeholder {
    font-size: 0.8rem;
    font-weight: $font-weight-medium;
    opacity: 0.4;
    color: $text-color;
  }
}
.form-control.is-invalid {
  border-color: $danger !important;
}
.form-control.is-valid:focus,
.was-validated .form-control:valid:focus {
  border-color: $success;
  box-shadow: none;
}
.form-control.is-valid,
.was-validated .form-control:valid {
  border-color: $success;
}
